fastapi
uvicorn
sqlalchemy[asyncio]
asyncpg
pydantic[email]
python-dotenv
pydantic_settings
supabase
boto3
aiosmtplib
celery[redis]
redis
python-multipart
pillow
httpx
passlib[bcrypt]
python-jose[cryptography]
psycopg2-binary